@use '../custom' as *;
@use '../components/mixins' as *;

.avatar {
    //position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    //top: 50%;
    //right: 5px;
    border-radius: 50%;

    img {
        @include absoluteCenter;
        max-width: 80%;
    }


    &-4 {
        background: linear-gradient(180deg, #DDFFE7 4.12%, #ECBAF0 100%);
    }
}

.avatar-3 {
    //position: relative;
    background: linear-gradient(180deg, #FFF4E3 0%, #FFD499 100%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: bottom;

    img {
        display: inline;
        max-width: 90%;
        margin-top: -50%;
        margin-right: -50%;
    }
}