@use '../custom' as *;
@use '../components/mixins' as *;

.perspective {
    perspective: 35rem;
}

.btn {
   
    &-perspective {
	border-radius: 1.2rem;

        transform-style: preserve-3d;
        transform: rotateY(25deg);
    }
}
