@use '../custom' as *;
@use './mixins' as *;

.card {
    .full-background {
	background-position: 50%;
	background-size: cover;
	margin-bottom: 30px;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 0.75rem;
    }
}

.schedule-card {
    color: $white;
    border-radius: 0.75rem;
    background-color: $gray-700;

    .card-header {
	height: 8.75rem;
	border-radius: 0.75rem;

	img {
	    @include absoluteCenter;
	    min-width: 100%;
	    max-height: 102%;
	    object-fit: cover;
	    overflow: hidden;
	    border-radius: 0.75rem;
	}

	@include media-breakpoint-up(lg) {
	    height: 12rem;
	}
    }

    &--date {
	display: block;
	font-size: 1rem;
	color: $green;
    }

    &--activity {
	display: block;
	text-transform: capitalize;
	font-size: 1.25rem;
	font-weight: 400;
    }	
}

.schedule-card-alt {
    background-color: $gray-700;
    border-radius: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    
    h1 {
		font-weight: 800;
		font-size: 4rem;
		font-family: 'Monument Extended', sans-serif;
		line-height: 3.5rem;
		text-transform: uppercase;
		
		background-image: linear-gradient(
			-225deg,
			$yellow 0%,
			$cyan 29%,
			$green-500 67%,
			$purple 100%
		);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2s linear infinite;
		display: inline-block;
	}

	@keyframes textclip {
		to {
			background-position: 200% center;
		}
    }

    .activities {
		padding-left: 1rem;
		.activity {
			font-family: 'DM Sans', sans-serif;
		}
    }

	@include media-breakpoint-down(sm) {
		h1 {
			font-size: 2.375rem;
			line-height: 2rem;
		}

		.activities {
			.activities {
				font-size: 0.875rem;
			}
		}
	}
}

.special-guest-card {
    //background-color: $green;
    border-radius: 1rem;
    border-width: 0;
    border-color: transparent;
    width: 100%;
    min-height: 10rem;

    img {
	@include absoluteCenter;
	min-width: 100%;
	max-height: 100%;
	object-fit: cover;
	overflow: hidden;
    }

    @include media-breakpoint-up(md) {
	min-height: 12.5rem;
    }

    @include media-breakpoint-up(lg) {
	min-height: 100%;
    }
}

.prize-card {
    border-radius: 1rem;
    border-width: 0;
    border-color: transparent;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: $gray-700;

    img {
	@include absoluteCenter;
	min-width: 100%;
	max-height: 100%;
	object-fit: cover;
	overflow: hidden;
    }

    @include media-breakpoint-up(md) {
	//min-height: 12.5rem;
    }
}

.modal-backdrop {
	z-index: 9999;
}