@use '../custom' as *;
@use './mixins' as *;

.schedule-card {
	background-color: $gray-700;
	color: $white;
	border-radius: 0.75rem;
	.card-header {
		img {
			border-radius: 0.75rem;
		}
	}

	&--date {
		display: block;
		font-size: 1rem;
		color: $green;
	}

	&--activity {
		display: block;
		text-transform: capitalize;
		font-size: 1.25rem;
		font-weight: 400;
	}	
}
