@use '../custom' as *;

//ABSOLUTE POSITION
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin image-o ($font-size) {
    display: inline-flex;
    font-size: $font-size;
    span {
        background: linear-gradient(180deg, #FFF4E3 0%, #FFD499 100%);
        width: calc($font-size/1.75);
        height: calc($font-size/1.75);
        border-radius: 50%;
        transform: translate(-5%, 100%);
        //vertical-align: bottom;

        img {
            display: inline;
            max-width: 80%;
            min-width: 80%;
            transform: translate(12.5%, -132.5%);
        }
    }
}


@mixin image-o ($font-size, $line-height:$font-size) {
    display: inline-flex;
    font-size: $font-size;

    span {
        //position: relative;
        //display: inline;
        background: linear-gradient(180deg, #FFF4E3 0%, #FFD499 100%);
        width: calc($font-size/1.75);
        height: calc($font-size/1.75);
        border-radius: 50%;
        transform: translate(-5%, 75%);
        //vertical-align: bottom;

        img {
            display: inline;
            max-width: 80%;
            min-width: 80%;
            transform: translate(12.5%, -85%);
        }
    }
}
