@use '../custom' as *;
@use '../components/mixins' as *;

.about {
    .container {
        .about-card {
            background-color: $gray-700;
            border-radius: 1.5rem;
            // padding-top: 1rem;
            // padding-left: 1rem;
            
            .about--title {
                font-weight: 900;
                font-family: 'Monument Extended', sans-serif;
                // line-height: 3.5rem;
                //text-transform: capitalize;

                @include media-breakpoint-down(sm) {
                    font-size: 1.75rem;
                }

                @include media-breakpoint-up(sm) {
                    font-size: 2.5rem;
                }

                @include media-breakpoint-up(md) {
                    font-size: 2.75rem;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 3rem;
                }
            }

            .about--text {
                p {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}