@use  '../custom' as *;
@use '../components/mixins' as *;

.meet {
    height: 100vh;

    .container {
        position: relative;
        min-width: 100vw;
        min-height: 100%;

        .meet--text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                font-size: 2.5rem;
                font-family: 'DM Sans', sans-serif;
                font-weight: 400;
            }
            
            p {
                font-size: 1.375rem;
                font-family: 'DM Sans', sans-serif;
                font-weight: 400;
            }

            @include media-breakpoint-up(md) {
                padding: 40% 20%;

                h1 {
                    font-size: 4rem;
                }
                
                p {
                    font-size: 1.25rem;
                }
            }

            @include media-breakpoint-up(xl) {
                padding: 0 22.5%;
            }
        }

        .ribbons {
            position: relative;
            max-width: 100%;
            .ribbon {
                //position: absolute;
                &-1 {
                    right: 0;
                    top: 8%;
                    width: 45vw;
                }

                &-2 {
                    left: -1rem;
                    top: 10%;
                    width: 27.5vw;
                }

                &-3 {
                    left: -1rem;
                    top: 50%;
                    width: 30vw;
                    //transform: translateY(-42.5%);

                    @include media-breakpoint-up(xl) {
                        width: 33.25vw;
                        //bottom: -11.55vh;
                    }
                }

                &-4 {
                    left: -1rem;
                    bottom: 0;
                    width: 45vw;

                    @include media-breakpoint-up(xl) {
                        bottom: -11.55vh;
                    }
                }

                &-5 {
                    right: 0;
                    bottom: 14vh;
                    width: 52vw;

                    @include media-breakpoint-up(xl) {
                        bottom: 10vh;
                    }
                }

                &-6 {
                    top: 15%;
                    left: 31.25%;
                    width: 12.5vw;
                    //transform: translateY(-42.5%);

                    @include media-breakpoint-up(xl) {
                        //bottom: -11.55vh;
                    }
                }

                &-7 {
                    left: 5vw;
                    bottom: 0;
                    width: 25vw;

                    @include media-breakpoint-up(xl) {
                        bottom: 11.55vh;
                    }
                }
            }
        }
    }
}