@use '../custom' as *;

.menu {
    .logo {
        width: 2.25rem;
    }
    
    li {
        padding: 0 0.7rem;

        a {
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}
